.container {
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
}

.buttonWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.counter {
  color: #5770d9;
}

.addButton {
}

.inputBox {
  margin: 0 20px;
}

.listWrapper {
  list-style-type: none;
}

.listWrapper li {
  padding: 10px;
  border-bottom: 1px solid gray;
  display: flex;
  align-items: center;
  gap: 10px;
}
